@charset "UTF-8";

/* Styles for the index page */
:root {
    --navbar-background: #00af55;
    --navbar-text-color: #38bd49;
    --navbar-link-background: #fff;
    --home-background: #00d700;
    --home-text-color: #c1ff72;
    --home-text-color2: #f7fdf3;
}

header {
    background-color: var(--navbar-background);
    color: var(--navbar-text-color);
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-link{
    background-color: var(--navbar-link-background);
    color: var(--navbar-text-color);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

#home {
    background-color: var(--home-background);
    margin: 0;
    text-align: center;
    gap: 20px;
}

#home h1 {
    color: var(--home-text-color);
    font-size: 2rem;
}

#home h3 {
    color: var(--home-text-color2);
}

#home button{
    width: 200px
}